In [624]:
import pandas as pd

In [917]:
year_name = "2018"

Because you're an idiot, please change this to 0 for the 2015 data.

In [918]:
sr = 0

In [919]:
df = pd.read_excel('pkrworking.xlsx', sheet_name=year_name, skiprows = sr)

Choices:
1. I have changed "Travel/Trekking Agency" to "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी". I didn't know what else fit that. We could say we don't have the data, but I feel like this column sums it up best.
1. We don't have details of the helicopter companies. I don't know how we can possibly get these, but if it's not necessary, then we should just say we don't have it. We still have time, so we might be able to pull this information, but I can't be sure.
1. It seems like they want us to split things into two categories: the actual charges and the amounts we billed to the insurance companies. For "agents" like Alpine Rescue, we haven't billed any insurance company, so I have left it as 0, but the bill amount is the same amount as the "Total" in our aggregate spreadsheet.

In [920]:
df.head()

,S.No,Hospital Number,Name,Bill Date,OPD/Admit Date,Discharge Date,Length of Stay,Admitted,Diagnosis,Travel/Trekking Agency,Insurance Company,Total Amount (NPR),Paid By,Remarks
0,1,4103,VALERIE ANNE COX,2018/01/16,2018-01-13,2018-01-16,3 days,Y,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHOE...,,NEPAL RESCUE & MEDICAL ASSOCIATION,231983.065488,LOCAL AGENT,NaN
1,2,4104,CALLUM EDWARD COX,2018/01/16,2018-01-13,NaT,NaN,N,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHO...,,NEPAL RESCUE & MEDICAL ASSOCIATION,15662.870976,LOCAL AGENT,NaN
2,3,4214,QINGQING WU,2018/02/13,2018-02-13,NaT,NaN,N,ACUTE MOUNTAIN SICKNESS\nRIGHT ELBOW PAIN FOLL...,,NaN,11978.456600,Self,NaN
3,4,4213,WENQIU ZHANG,2018/02/13,2018-02-13,NaT,NaN,N,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,FLIGHT CONNECTION,NaN,12945.240000,Self,NaN
4,5,4256,YU MI LEE,2018/02/20,2018-02-19,2018-02-20,1 day,Y,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION,,NaN,98566.682136,Self,NaN

In [921]:
df.columns = ["सि.न", "पर्यटकको नाम", "नाम", "Bill Date" , "भर्ना/OPD मिती", "डिस्चार्ज मिती", "Length of Stay", "Admitted", "उपचारको कारण", "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी", "बीमा कम्पनी", "उपचार रकम", "Paid By", "कैफियत"]

#### Notes

1. Must look at Christopher Frederik. The raw data says 2014/08/11, but I feel like that must be wrong, otherwise, we need to remove him from the list, since he was rescued in 2014.
1. I have changed all "comma" dates, i.e, patients with multiple admissions to be single dates. I don't know how we can show this accurately, but I feel like we have to, since I can't manipulate the data any other way.

Due to the way we're marking the years in which these rescues occured, we're kind of putting in rescues from other years as well. I am removing the rows containing rescues from 2014. They got included since we pulled the rescues based on the "Bill Date".

In [922]:
df["भर्ना/OPD मिती"] = pd.to_datetime(df["भर्ना/OPD मिती"])

In [923]:
df["भर्ना/OPD मिती"] = df["भर्ना/OPD मिती"].dt.date

In [924]:
df.head()

,सि.न,पर्यटकको नाम,नाम,Bill Date,भर्ना/OPD मिती,डिस्चार्ज मिती,Length of Stay,Admitted,उपचारको कारण,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,बीमा कम्पनी,उपचार रकम,Paid By,कैफियत
0,1,4103,VALERIE ANNE COX,2018/01/16,2018-01-13,2018-01-16,3 days,Y,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHOE...,,NEPAL RESCUE & MEDICAL ASSOCIATION,231983.065488,LOCAL AGENT,NaN
1,2,4104,CALLUM EDWARD COX,2018/01/16,2018-01-13,NaT,NaN,N,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHO...,,NEPAL RESCUE & MEDICAL ASSOCIATION,15662.870976,LOCAL AGENT,NaN
2,3,4214,QINGQING WU,2018/02/13,2018-02-13,NaT,NaN,N,ACUTE MOUNTAIN SICKNESS\nRIGHT ELBOW PAIN FOLL...,,NaN,11978.456600,Self,NaN
3,4,4213,WENQIU ZHANG,2018/02/13,2018-02-13,NaT,NaN,N,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,FLIGHT CONNECTION,NaN,12945.240000,Self,NaN
4,5,4256,YU MI LEE,2018/02/20,2018-02-19,2018-02-20,1 day,Y,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION,,NaN,98566.682136,Self,NaN

In [925]:
index = df[["पर्यटकको नाम","नाम"]]

In [926]:
index.head()

   पर्यटकको नाम                 नाम
0          4103   VALERIE ANNE  COX
1          4104  CALLUM EDWARD  COX
2          4214        QINGQING  WU
3          4213       WENQIU  ZHANG
4          4256           YU MI LEE

In [927]:
index.to_excel("index_pkr" + year_name + ".xlsx")

In [928]:
df.fillna('')

,सि.न,पर्यटकको नाम,नाम,Bill Date,भर्ना/OPD मिती,डिस्चार्ज मिती,Length of Stay,Admitted,उपचारको कारण,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,बीमा कम्पनी,उपचार रकम,Paid By,कैफियत
0,1,4103,VALERIE ANNE COX,2018/01/16,2018-01-13,2018-01-16 00:00:00,3 days,Y,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHOE...,,NEPAL RESCUE & MEDICAL ASSOCIATION,231983.065488,LOCAL AGENT,
1,2,4104,CALLUM EDWARD COX,2018/01/16,2018-01-13,,,N,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHO...,,NEPAL RESCUE & MEDICAL ASSOCIATION,15662.870976,LOCAL AGENT,
2,3,4214,QINGQING WU,2018/02/13,2018-02-13,,,N,ACUTE MOUNTAIN SICKNESS\nRIGHT ELBOW PAIN FOLL...,,,11978.456600,Self,
3,4,4213,WENQIU ZHANG,2018/02/13,2018-02-13,,,N,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,FLIGHT CONNECTION,,12945.240000,Self,
4,5,4256,YU MI LEE,2018/02/20,2018-02-19,2018-02-20 00:00:00,1 day,Y,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION,,,98566.682136,Self,
5,6,4272,SIJIE WEN,2018/02/21,2018-02-21,,,N,\nACUTE MOUNTAIN SICKNESS.,,,38791.670237,Self,
6,7,4285,HONGTAO YU,2018/02/24,2018-02-23,2018-02-24 00:00:00,1 day,Y,\n1. ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION\...,,,106038.990936,Self,
7,8,4301,LANHUA HUANG,2018/02/27,2018-02-27,,,N,1. ABDOMINAL PAIN LIKELY DUE TO PHLEBOLITHS\n2...,,,45482.831011,Self,
8,9,4349,QUANG TRUNG BUI,2018/03/09,2018-03-08,,,N,1.ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION\n\...,FLIGHT CONNECTION INT'L PVT. LTD.,,13215.749193,LOCAL AGENT,
9,10,4347,ANH VU LE,2018/03/09,2018-03-08,,,N,\n1.ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION\...,FLIGHT CONNECTION INT'L PVT. LTD.,,13526.364784,LOCAL AGENT,
10,11,4346,VAN THI BAO HUYNH,2018/03/09,2018-03-08,,,N,\n1.ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION....,FLIGHT CONECTION INT'L PVT LTD,,13526.364784,LOCAL AGENT,
11,12,4348,PHUOC CUONG NGUYEN,2018/03/09,2018-03-08,,,N,1.ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION\n\...,FLIGHT CONNECTION INT'L PVT. LTD.,,13526.364784,LOCAL AGENT,
12,13,3601,MUHAMED NAZMI BIN MUHAMED HANAFI,2018/03/09,2017-10-27,,,N,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,FLIGHT CONNECTION INT'L PVT. LTD.,,13095.180000,LOCAL AGENT,
13,14,3957,LIXIU YE,2018/03/09,2017-12-13,,,N,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,FLIGHT CONNECTION INT'L PVT. LTD.,,27499.878000,LOCAL AGENT,
14,16,4476,VETIVERA KUMALA DEWI HADI IDA,2018/03/25,2018-03-25,,,N,RIGHT KNEE PAIN LIKELY DUE TO LIGAMENT STRAIN.,,,17966.741420,Self,
15,17,4520,PETER ROLAND EGGENSCHWILER,2018/03/30,2018-03-30,,,N,ACUTE CHEST PAIN ? ANGINA ? NON SPECIFIC.,,,23211.424206,Self,
16,18,4584,BEN LUCA ZOLTAK,2018/04/07,2018-04-07,,,N,\n1. ACUTE MOUNTAIN SICKNESS\n\n2. ACUTE BACTE...,,,12195.448635,Self,
17,19,4581,JENS ULRIK HOVE BUCIEK,2018/04/07,2018-04-07,,,N,ACUTE BACTERIAL DIARRHOEA WITH DEHYDRATION.,,,27464.099040,Self,
18,20,4605,LAUREN ISABELLA BRUCE,2018/04/10,2018-04-10,,,N,LEFT KNEE LIGAMENT STRAIN.,,,23202.415782,Self,
19,21,4617,KANG CHAN HO,2018/04/12,2018-04-12,,,N,\nB/L KNEE LIGAMENT STRAIN.,,,16556.265060,Self,
20,22,4659,SHANAE BARBARA PATRICIA COOPER,2018/04/17,2018-04-17,,,N,\nRIGHT KNEE PAIN-?LIGAMENT INJURY,,,20370.367296,Self,
21,23,4653,GRACE ELIZABETH BRITT,2018/04/17,2018-04-17,,,N,\nRIGHT FOOT PAIN/ANKLE SPRAIN,,,20367.535617,Self,
22,24,4689,MARK ALLEN AUGUSTYNIEWICZ,2018/04/21,2018-04-20,2018-04-21 00:00:00,1 day,Y,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.\...,,,107850.540000,Self,
23,25,4697,JESSIE MOANA WORKMAN,2018/04/21,2018-04-21,,,N,ACUTE MOUNTAIN SICKNESS.,,,26807.550000,Self,
24,26,4696,CHRISTINA SCHUETZ,2018/04/21,2018-04-21,,,N,ACUTE MOUNTAIN SICKNESS.,,,39901.165550,Self,
25,27,4695,GEOFFREY KEVIN BURTNER,2018/04/22,2018-04-21,2018-04-22 00:00:00,1 day,Y,"\nACUTE GASTROENTERITIS ,DEHYDRATION.",,,98189.820600,Self,
26,28,4714,SH SALWA BINTI SD MUSTAFFA,2018/04/23,2018-04-23,,,N,DYSPEPSIA.\nB/L KNEE PAIN,,,18045.500700,Self,
27,29,4730,ARI JASON SCHLESINGER,2018/04/25,2018-04-24,2018-04-25 00:00:00,1 day,Y,\nLEFT ANKLE CLOSED UNDISPLACED FRACTURE O...,,,130749.029936,Self,
28,30,4737,YOSEF COHEN,2018/04/25,2018-04-25,,,N,\nACUTE MOUNTAIN SICKNESS-IMPROVING.,,,21351.456000,Self,
29,31,4749,ROBERT EMILE JOSEPH LACUEVA,2018/04/26,2018-04-26,,,N,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,,,12425.689325,Self,
30,32,4757,MUSARRAT BINTI SALAM,2018/04/27,2018-04-27,,,N,ACUTE MOUNTAIN SICKNESS.,,,24736.894245,Self,
31,33,4758,NURUL AISYAH BINTE SUPANGAT,2018/04/27,2018-04-27,,,N,ACUTE MOUNTAIN SICKNESS.,,,24736.894245,Self,
32,34,4756,HALIMAHTUS SADIAH BINTE AMAT,2018/04/27,2018-04-27,,,N,ACUTE MOUNTAIN SICKNESS.,,,21717.335745,Self,
33,35,4759,ZAFIRAH BINTE ZULKIFLI,2018/04/27,2018-04-27,,,N,ACUTE MOUNTAIN SICKNESS.,,,12301.905000,Self,
34,36,4788,DOMINIC ANGELO OTTAVIANO,2018/05/01,2018-05-01,,,N,\nRIGHT KNEE SOFT TISSUE INJURY.,,,12638.014280,Self,
35,37,4807,HEI TUNG FLORA WAN,2018/05/04,2018-05-04,,,N,\n1. ACUTE MOUNTAIN SICKNESS-IMPROVING\n\n2. I...,,,28137.564000,Self,
36,38,4815,SIRI LOGESWAREN VELLIASAMY,2018/05/07,2018-05-05,2018-05-07 00:00:00,2 days,Y,\n1. ACUTE BRONCHITIS/? RIGHT LOWER ZONE PNEUM...,,,190064.160384,Self,
37,39,4859,BRADLEY JOHN SEMPLE,2018/05/11,2018-05-11,,,N,\nROAD TRAFFIC ACCIDENT-RIGHT RIB RACTURE AND ...,HEART & TEARS,,27542.762220,Self,
38,40,4909,DANIEL JACOB KLIGLER,2018/05/22,2018-05-21,,,N,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,,,13696.200000,Self,
39,41,4983,BREANNE PATRICIA DAWN PAUL,2018/06/13,2018-06-13,,,N,\nRIGHT ANKLE SPRAIN.,,,12745.004800,Self,
40,42,5160,JESSICA SARAH EDGE,2018/08/08,2018-08-08,,,N,BLISTER WITH SECONDARY INFECTION BOTH FOOT CAL...,ROYAL MOUNTAIN TRAVEL,,30075.314080,Self,

In [929]:
import numpy as np

In [930]:
df["Paid By"] = df["Paid By"].str.lower()

In [931]:
df["Paid By"] = df["Paid By"].str.strip()

In [932]:
ins = df["Paid By"] == "insurance"

In [933]:
df["बीमा दाबी रकम"] = df["उपचार रकम"][ins]

In [934]:
df.head()

,सि.न,पर्यटकको नाम,नाम,Bill Date,भर्ना/OPD मिती,डिस्चार्ज मिती,Length of Stay,Admitted,उपचारको कारण,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,बीमा कम्पनी,उपचार रकम,Paid By,कैफियत,बीमा दाबी रकम
0,1,4103,VALERIE ANNE COX,2018/01/16,2018-01-13,2018-01-16,3 days,Y,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHOE...,,NEPAL RESCUE & MEDICAL ASSOCIATION,231983.065488,local agent,NaN,NaN
1,2,4104,CALLUM EDWARD COX,2018/01/16,2018-01-13,NaT,NaN,N,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHO...,,NEPAL RESCUE & MEDICAL ASSOCIATION,15662.870976,local agent,NaN,NaN
2,3,4214,QINGQING WU,2018/02/13,2018-02-13,NaT,NaN,N,ACUTE MOUNTAIN SICKNESS\nRIGHT ELBOW PAIN FOLL...,,NaN,11978.456600,self,NaN,NaN
3,4,4213,WENQIU ZHANG,2018/02/13,2018-02-13,NaT,NaN,N,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,FLIGHT CONNECTION,NaN,12945.240000,self,NaN,NaN
4,5,4256,YU MI LEE,2018/02/20,2018-02-19,2018-02-20,1 day,Y,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION,,NaN,98566.682136,self,NaN,NaN

In [935]:
df["पर्यटक उद्धार गर्ने हेलिकप्टर कम्पनी"] = ""

In [936]:
submit = df[["सि.न","पर्यटकको नाम", "भर्ना/OPD मिती", "डिस्चार्ज मिती", "उपचारको कारण", "उपचार रकम","बीमा दाबी रकम", "बीमा कम्पनी", "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी", "पर्यटक उद्धार गर्ने हेलिकप्टर कम्पनी", "कैफियत"]]

In [937]:
submit.head()

,सि.न,पर्यटकको नाम,भर्ना/OPD मिती,डिस्चार्ज मिती,उपचारको कारण,उपचार रकम,बीमा दाबी रकम,बीमा कम्पनी,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,पर्यटक उद्धार गर्ने हेलिकप्टर कम्पनी,कैफियत
0,1,4103,2018-01-13,2018-01-16,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHOE...,231983.065488,NaN,NEPAL RESCUE & MEDICAL ASSOCIATION,,,NaN
1,2,4104,2018-01-13,NaT,ACUTE GASTROENTRITIS-LIKELY BACTERIAL DIARRHO...,15662.870976,NaN,NEPAL RESCUE & MEDICAL ASSOCIATION,,,NaN
2,3,4214,2018-02-13,NaT,ACUTE MOUNTAIN SICKNESS\nRIGHT ELBOW PAIN FOLL...,11978.456600,NaN,NaN,,,NaN
3,4,4213,2018-02-13,NaT,ACUTE MOUNTAIN SICKNESS WITH DEHYDRATION.,12945.240000,NaN,NaN,FLIGHT CONNECTION,,NaN
4,5,4256,2018-02-19,2018-02-20,\nACUTE MOUNTAIN SICKNESS WITH DEHYDRATION,98566.682136,NaN,NaN,,,NaN

In [938]:
submit.to_excel(year_name + "submission_pkr.xlsx")

Further, to add the Insurance company column which I stupidly left off last time, we're going to follow up on things.

In [916]:
clean_data = pd.read_excel('Rescue Data Police-1.2.19.xlsx', sheet_name=year_name)

Filter out rows you don't need

In [762]:
submit.shape

(473, 11)

In [763]:
clean_data.shape

(471, 9)

In [764]:
mask = submit["पर्यटकको नाम"].isin(clean_data["पर्यटकको नाम"])

In [765]:
submit = submit[mask]

In [766]:
submit.shape

(471, 11)

In [767]:
submit.head()

,सि.न,पर्यटकको नाम,भर्ना/OPD मिती,डिस्चार्ज मिती,उपचारको कारण,उपचार रकम,बीमा दाबी रकम,बीमा कम्पनी,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,पर्यटक उद्धार गर्ने हेलिकप्टर कम्पनी,कैफियत
0,1,30570,2018-01-02,-,ACUTE BACTERIAL DIARRHEA / MILD DEHYDRATION.,21867.247500,NaN,NaN,,,NaN
1,2,30615,2018-01-04,-,SEVERE ACUTE MOUNTAIN SICKNESS / EPISTAXIS / U...,15004.310664,NaN,AIG,AIG INSURANCE,,NaN
2,3,30618,2018-01-04,-,ACUTE MOUNTAIN SICKNESS. \nFROSTBITE RT MIDDLE...,20872.000520,NaN,NaN,,,NaN
3,4,30617,2018-01-04,-,FROST BITE GRADE I/ RIGHT INDEX FINGER/ SOFT T...,16606.771720,NaN,NaN,,,NaN
4,5,29767,2017-11-10,"2017/11/14, 15 & 16","INFLUENZA ""A"" WITH RIGHT SIDED PNEUMONIA\nHIGH...",340077.082590,340077.08259,ALLIANZ GLOBAL ASSISTANCE,MOUNTAIN TRIBES PRIVTE LIMITED,,NaN

In [768]:
submit.to_excel(year_name + "submission.xlsx")

Repopulate index

In [769]:
index = df[mask][["पर्यटकको नाम","नाम"]]

In [770]:
index.shape

(471, 2)

In [771]:
index.to_excel("index" + year_name + ".xlsx")