In [1]:
import pandas as pd

In [2]:
path_prefix = "./pokhara/pcrbills/"

In [129]:
df2015 = pd.read_excel(path_prefix + "2015pcr.xls")
df2016 = pd.read_excel(path_prefix + "2016pcr.xls")
df2017 = pd.read_excel(path_prefix + "2017pcr.xls")
df2018 = pd.read_excel(path_prefix + "2018pcr.xls")
all_dfs = [df2015, df2016, df2017, df2018]

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (14738) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (21658) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [124]:
dfbills = pd.read_excel(path_prefix + "helicredit.xlsx")

In [24]:
pd.options.mode.chained_assignment = "warn"

In [125]:
dfbills.loc[dfbills["Nature of Treatment"] == "OUTPATIENT", "Date of Admission"] = dfbills.loc[dfbills["Nature of Treatment"] == "OUTPATIENT"]["Date of Service"]

In [126]:
dfbills

,SN,DISBILLDATE,HOSPITALNO,NAME,Nature of Treatment,Date of Service,Date of Admission,Date of Discharge
0,1,2015/02/27,420,VIVIANE GUILLOUX,OUTPATIENT,23/02/2015,23/02/2015,NaN
1,2,2015/02/27,421,SERGE GUILLOUX,OUTPATIENT,23/02/2015,23/02/2015,NaN
2,3,2015/03/03,412,ARTHUR LASTMANN,OUTPATIENT,21/02/2015,21/02/2015,NaN
3,4,2015/03/03,335,HUMZA ARAIN,OUTPATIENT,11/01/2015,11/01/2015,NaN
4,5,2015/03/13,472,LUCY CORRIGAN,OUTPATIENT,11/03/2015,11/03/2015,NaN
5,6,2015/04/08,539,NATHAN MCNALLY,OUTPATIENT,30/03/2015,30/03/2015,NaN
6,7,2015/04/08,489,CRYSTAL HUI JING ONG,OUTPATIENT,17/03/2015,17/03/2015,NaN
7,8,2015/12/17,1001,EMILY MARSON,INPATIENT,09/12/2015,09/12/2015,10/12/2015
8,9,2016/03/10,1163,JUAN LEVRERO,OUTPATIENT,03/03/2016,03/03/2016,NaN
9,10,2016/04/01,1195,MARK JAYSON RIVERA,INPATIENT,16/03/2016,16/03/2016,17/03/2016
10,11,2016/05/16,1400,HARRY ALAN KANISIUS POCOCK,INPATIENT,26/04/2016,26/04/2016,07/05/2016
11,12,2016/05/16,1422,OFER ZOFI,INPATIENT,02/05/2016,02/05/2016,03/05/2016
12,13,2016/06/26,1513,NORA WYSS,INPATIENT,24/05/2016,24/05/2016,25/05/2016
13,14,2016/09/19,1738,DAVID GIMENO LOPEZ,OUTPATIENT,05/09/2016,05/09/2016,NaN
14,15,2016/11/03,1863,WILLIAM PAQUIGNON,INPATIENT,12/10/2016,12/10/2016,23/10/2016
15,16,2016/12/15,2154,GERHARD HINTERBERGER,INPATIENT,08/12/2016,08/12/2016,09/12/2016
16,17,2016/12/19,2104,SHICHAA BOONWANNO,INPATIENT,25/11/2016,25/11/2016,26/11/2016
17,18,2016/12/26,2018,EVA MARIA ZAGHDOUDI,INPATIENT,06/11/2016,06/11/2016,07/11/2016
18,19,2017/03/30,2459,ANAIS CAROLL CATHERINE LELARGE,INPATIENT,05/03/2017,05/03/2017,07/03/2017
19,20,2017/03/30,2434,ISMAIL AHMED SADICK VAWDA,INPATIENT,01/03/2017,01/03/2017,03/03/2017
20,21,2017/05/08,2723,BARUCH BITAO,INPATIENT,15/04/2017,15/04/2017,19/04/2017
21,22,2017/05/08,2409,JAKOB DINESS MIKKELSEN,INPATIENT,23/02/2017,23/02/2017,26/02/2017
22,23,2017/05/23,2735,PAPITCHAYA CHUMNIPAIBOON,INPATIENT,17/04/2017,17/04/2017,18/04/2017
23,24,2017/05/23,2736,CHAYAPA CHUMNIPAIBOON,OUTPATIENT,23/05/2017,23/05/2017,NaN
24,25,2017/06/02,2752,AUDREY CHRISTINA METCALF,INPATIENT,18/04/2017,18/04/2017,20/04/2017
25,26,2017/06/02,2739,MARIA THEODORA ONDINE VAN DER VLEUTEN,INPATIENT,17/04/2017,17/04/2017,19/04/2017
26,27,2017/06/02,2764,RUDOLF PETER PAUL SCHROEDER,INPATIENT,20/04/2017,20/04/2017,21/04/2017
27,28,2017/06/05,2885,LUKE WILLIAM FLANAGAN,OUTPATIENT,07/05/2017,07/05/2017,NaN
28,29,2017/06/12,2964,ALFRED ROLAND DIETRICH,INPATIENT,23/05/2017,23/05/2017,24/05/2017
29,30,2017/07/20,2695,NATSINEE KITICHAROENNUN,INPATIENT,12/04/2017,12/04/2017,15/04/2017
30,31,2017/07/30,3073,SIMON PAUL HESTER,OUTPATIENT,24/06/2017,24/06/2017,NaN
31,32,2017/09/07,3200,HIRUNE ZABALA GALLO,OUTPATIENT,05/08/2017,05/08/2017,NaN
32,33,2017/09/14,3249,ENRIQUE LOPEZ HERREROS,INPATIENT,17/08/2017,17/08/2017,18/08/2017
33,34,2017/10/24,3541,HUI YING LAU,INPATIENT,19/10/2017,19/10/2017,20/10/2017
34,35,2017/10/24,3293,KOKEN SATO,INPATIENT,05/09/2017,05/09/2017,05/09/2017
35,36,2017/11/03,3325,SVEN JOSUA LUETKE-BORDEWICK,INPATIENT,15/09/2017,15/09/2017,19/09/2017
36,37,2017/11/06,3513,ANYA RENEE KERNKE,INPATIENT,17/10/2017,17/10/2017,18/10/2017
37,38,2017/11/09,3526,BENCHA KHANTISIRI,INPATIENT,17/10/2017,17/10/2017,18/10/2017
38,39,2017/11/17,3573,VINCENT JEAN MARIE MONTCHOUGNY,INPATIENT,23/10/2017,23/10/2017,26/10/2017
39,40,2017/11/27,3686,LYDIA ROSE BAILEY,INPATIENT,06/11/2017,06/11/2017,07/11/2017
40,41,2017/11/27,3565,NIGEL RICHARD WILLIS,INPATIENT,22/10/2017,22/10/2017,25/10/2017
41,42,2017/12/15,3847,ABENERI DJUMAPILI,INPATIENT,25/11/2017,25/11/2017,27/11/2017
42,43,2018/01/18,3831,LINDSAY MICHELLE SPARKES,INPATIENT,23/11/2017,23/11/2017,24/11/2017
43,44,2018/01/29,3764,HANNA ELINA KORELL,INPATIENT,16/11/201,16/11/201,17/11/201
44,45,2018/02/14,3901,NELLIE GOURARII,INPATIENT,04/12/2017,04/12/2017,12/12/2017
45,46,2018/03/20,3930,MASAKO KUWAHARA,INPATIENT,09/12/2017,09/12/2017,11/12/2017
46,47,2018/03/27,3625,GREGORY JOHN WILSON,INPATIENT,29/10/2017,29/10/2017,31/10/2017
47,48,2018/03/27,4175,JOSEPHUS HENRICUS PETRONELLA LEVELS,INPATIENT,01/02/2018,01/02/2018,03/02/2018
48,49,2018/04/10,4431,NAOMI BRANDLER,INPATIENT,20/03/2018,20/03/2018,22/03/2018
49,50,2018/04/12,3805,FRANCOISE GENEVIEVE MICHELE MICHEL,INPATIENT,21/11/2017,21/11/2017,22/11/2017
50,51,2018/04/25,4283,GARETH WALTER THOMAS,INPATIENT,22/02/0218,22/02/0218,23/02/0218
51,52,2018/04/29,4686,THOMAS JAMES VAN TILBORG,INPATIENT,20/04/2018,20/04/2018,21/04/2018

In [127]:
index_year = {0: '2015', 1: '2016', 2: '2017', 3: '2018'}

In [145]:
df2015 = pd.read_excel(path_prefix + "2015pcr.xls")
df2016 = pd.read_excel(path_prefix + "2016pcr.xls")
df2017 = pd.read_excel(path_prefix + "2017pcr.xls")
df2018 = pd.read_excel(path_prefix + "2018pcr.xls")
all_dfs = [df2015, df2016, df2017, df2018]


for index,i in enumerate(all_dfs):
    print("Working on " + index_year[index])
    i["Date of Admission"] = dfbills.loc[dfbills["HOSPITALNO"].isin(i["HOSPITALNO"])]["Date of Admission"]
    i["Date of Discharge"] = dfbills.loc[dfbills["HOSPITALNO"].isin(i["HOSPITALNO"])]["Date of Discharge"]
    i["S.No"] = range(1, len(i) + 1)
    print(i.columns.tolist())
    i.columns = ['Bill Date', 'Hospital Number', 'Name', 'DOB', 'Gender', 'Country', 'Bill No', 'Travel/Trekking Agency', 'Insurance Company', 'Diagnosis', 'Policy Amount', 'USD', 'Billed', 'Total Amount (NPR)', 'Length of Stay', 'optdate', 'Admitted', 'OPD/Admit Date', 'Discharge Date', 'S.No']
    i["Remarks"] = ""
    i["Length of Stay"] = 0
    i["Paid By"] = "Insurance"
    i = i[["S.No", "Hospital Number", "Name", "Bill Date", "OPD/Admit Date", "Discharge Date", "Length of Stay", "Admitted", "Diagnosis", "Travel/Trekking Agency", "Insurance Company", "Total Amount (NPR)", "Paid By", "Remarks"]]
    dfcash = pd.read_excel('pokhara/pkrworking.xlsx', sheet_name=index_year[index])
    total = [i, dfcash]
    total = pd.concat(total)
    print(total[["Hospital Number", "Paid By"]])
    total.columns = ["सि.न", "पर्यटकको नाम", "नाम", "Bill Date" , "भर्ना/OPD मिती", "डिस्चार्ज मिती", "Length of Stay", "Admitted", "उपचारको कारण", "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी", "बीमा कम्पनी", "उपचार रकम", "Paid By", "कैफियत"]
    name_index = total[["पर्यटकको नाम","नाम"]]

    ins = total["Paid By"] == "Insurance"
    total.loc[ins, "बीमा दाबी रकम"] = total[ins]["उपचार रकम"]

    submit = total[["सि.न","पर्यटकको नाम", "भर्ना/OPD मिती", "डिस्चार्ज मिती", "उपचारको कारण", "उपचार रकम","बीमा दाबी रकम", "बीमा कम्पनी", "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी", "कैफियत"]]
    submit = submit.sort_values(by=['पर्यटकको नाम'])
    submit["सि.न"] = range(1, len(submit) + 1)
    submit.to_excel(path_prefix + "submission/" + index_year[index] + 'pkr.xlsx', index=False)
    name_index.to_excel(path_prefix + "submission/" + 'index' + index_year[index] + '.xlsx', index=False)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (14738) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (21658) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Working on 2015
['DISBILLDATE', 'HOSPITALNO', 'NAME', 'DOB', 'GENDER', 'COUNTRY', 'BILLNO', 'AGENCY', 'INSURANCE', 'DIAGNOSIS', 'POLICYAMOUNT', 'TOTALAMOUNTINUSD', 'BILLDEDAMOUNT', 'TOTALAMOUNTINNPR', 'INPTDATE', 'DISDATE', 'ISIPD', 'Date of Admission', 'Date of Discharge', 'S.No']
   Hospital Number      Paid By
0              420    Insurance
1              421    Insurance
2              412    Insurance
3              335    Insurance
4              472    Insurance
5              539    Insurance
6              489    Insurance
7             1001    Insurance
0              411         Self
1              426         Self
2              450         Self
3              452         Self
4              627         Self
5              664         Self
6              808         Self
7              874         Self
8              903         Self
9              924  Local Agent
Working on 2016
['DISBILLDATE', 'HOSPITALNO', 'NAME', 'DOB', 'GENDER', 'COUNTRY', 'BILLNO', 'AGENCY', 'INSURANCE', 'DIAGNOSIS', 'POLICYAMOUNT', 'TOTALAMOUNTINUSD', 'BILLDEDAMOUNT', 'TOTALAMOUNTINNPR', 'INPTDATE', 'DISDATE', 'ISIPD', 'Date of Admission', 'Date of Discharge', 'S.No']
    Hospital Number      Paid By
0              1163    Insurance
1              1195    Insurance
2              1400    Insurance
3              1422    Insurance
4              1513    Insurance
5              1738    Insurance
6              1863    Insurance
7              2154    Insurance
8              2104    Insurance
9              2018    Insurance
0              1061         Self
1              1129         Self
2              1259         Self
3              1288         Self
4              1319         Self
5              1321         Self
6              1343         Self
7              1368         Self
8              1407         Self
9              1421         Self
10             1446         Self
11             1499         Self
12             1420  Local Agent
13             1604         Self
14             1694         Self
15             1774         Self
16             1773         Self
17             1821         Self
18             1841         Self
19             1857         Self
20             1922         Self
21             2030         Self
22             2071         Self
23             2127         Self
24             2130         Self
25             2160         Self
26             1903          NaN
27             2190         Self
28             2191         Self
Working on 2017
['DISBILLDATE', 'HOSPITALNO', 'NAME', 'DOB', 'GENDER', 'COUNTRY', 'BILLNO', 'AGENCY', 'INSURANCE', 'DIAGNOSIS', 'POLICYAMOUNT', 'TOTALAMOUNTINUSD', 'BILLDEDAMOUNT', 'TOTALAMOUNTINNPR', 'INPTDATE', 'DISDATE', 'ISIPD', 'Date of Admission', 'Date of Discharge', 'S.No']
    Hospital Number      Paid By
0              2459    Insurance
1              2434    Insurance
2              2723    Insurance
3              2409    Insurance
4              2735    Insurance
5              2736    Insurance
6              2752    Insurance
7              2739    Insurance
8              2764    Insurance
9              2885    Insurance
10             2964    Insurance
11             2695    Insurance
12             3073    Insurance
13             3200    Insurance
14             3249    Insurance
15             3541    Insurance
16             3293    Insurance
17             3325    Insurance
18             3513    Insurance
19             3526    Insurance
20             3573    Insurance
21             3686    Insurance
22             3565    Insurance
23             3847    Insurance
0              2253         Self
1              2254         Self
2              2281         Self
3              2314         Self
4              2357         Self
5              2039  LOCAL AGENT
..              ...          ...
12             2856         Self
13             2918         Self
14             2802  LOCAL AGENT
15             3008         Self
16             3046         Self
17             3098         Self
18             3226  LOCAL AGENT
19             3274         Self
20             3381         Self
21             3413         Self
22             3445         Self
23             3545         Self
24             3548         Self
25             3650         Self
26             3681         Self
27             3704         Self
28             3753         Self
29             3762         Self
30             3768         Self
31             3796         Self
32             3777  LOCAL AGENT
33             3490  LOCAL AGENT
34             3804         Self
35             3879         Self
36             3885         Self
37             3888         Self
38             3894         Self
39             3581  LOCAL AGENT
40             3985          NaN
41             4019          NaN

[66 rows x 2 columns]
Working on 2018
['DISBILLDATE', 'HOSPITALNO', 'NAME', 'DOB', 'GENDER', 'COUNTRY', 'BILLNO', 'AGENCY', 'INSURANCE', 'DIAGNOSIS', 'POLICYAMOUNT', 'TOTALAMOUNTINUSD', 'BILLDEDAMOUNT', 'TOTALAMOUNTINNPR', 'INPTDATE', 'DISDATE', 'ISIPD', 'Date of Admission', 'Date of Discharge', 'S.No']
    Hospital Number      Paid By
0              3831    Insurance
1              3764    Insurance
2              3901    Insurance
3              3930    Insurance
4              3625    Insurance
5              4175    Insurance
6              4431    Insurance
7              3805    Insurance
8              4283    Insurance
9              4686    Insurance
10             4569    Insurance
11             4835    Insurance
12             4242    Insurance
13             4723    Insurance
14             4724    Insurance
15             4725    Insurance
16             3365    Insurance
17             4676    Insurance
18             4838    Insurance
19             4834    Insurance
20             4806    Insurance
21             4271    Insurance
22             4783    Insurance
23             4919    Insurance
24             4202    Insurance
25             4408    Insurance
26             4058    Insurance
27             4057    Insurance
28             5184    Insurance
29             5279    Insurance
..              ...          ...
11             4348  LOCAL AGENT
12             3601  LOCAL AGENT
13             3957  LOCAL AGENT
14             4476         Self
15             4520         Self
16             4584         Self
17             4581         Self
18             4605         Self
19             4617         Self
20             4659         Self
21             4653         Self
22             4689         Self
23             4697         Self
24             4696         Self
25             4695         Self
26             4714         Self
27             4730         Self
28             4737         Self
29             4749         Self
30             4757         Self
31             4758         Self
32             4756         Self
33             4759         Self
34             4788         Self
35             4807         Self
36             4815         Self
37             4859         Self
38             4909         Self
39             4983         Self
40             5160         Self

[80 rows x 2 columns]

In [134]:
i.head()

,S.No,Hospital Number,Name,Bill Date,OPD/Admit Date,Discharge Date,Length of Stay,Admitted,Diagnosis,Travel/Trekking Agency,Insurance Company,Total Amount (NPR),Paid By,Remarks
0,1,420,VIVIANE GUILLOUX,2015/02/27,23/02/2015,NaN,0,N,ACUTE MOUNTAIN SICKNESS,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",33616.557202,insurance,
1,2,421,SERGE GUILLOUX,2015/02/27,23/02/2015,NaN,0,N,ACUTE MOUNTAIN SICKNESS\r\nUPPER RESPIRATORY...,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",36031.756425,insurance,
2,3,412,ARTHUR LASTMANN,2015/03/03,21/02/2015,NaN,0,N,LEFT KNEE LEFT KNEE MENISCUS INJURY\r\nLOC...,,AGA SERVICES (INDIA) PVT. LTD.,62926.283564,insurance,
3,4,335,HUMZA ARAIN,2015/03/03,11/01/2015,NaN,0,N,ACUTE BACTERIAL DIARRHOEA WITH MILD DEHYDRAT...,KRITI TOURS,ALPINE RESCUE SERVICES PVT. LTD.,36708.100784,insurance,
4,5,472,LUCY CORRIGAN,2015/03/13,11/03/2015,NaN,0,N,ACUTE PHARYNGITIS.\r\nLITTLE ACUTE MOUNTAIN S...,HIMALAYAN ENCOUNTER,"ALPINE RESCUE SERVICE PVT. LTD., NEPAL",35935.683420,insurance,

In [93]:
all2015 = [df2015,df2015cash]
all2015 = pd.concat(all2015)

In [94]:
all2015["OPD/Admit Date"] = pd.to_datetime(all2015["OPD/Admit Date"])
all2015.sort_values(by=["OPD/Admit Date"])

,S.No,Hospital Number,Name,Bill Date,OPD/Admit Date,Discharge Date,Length of Stay,Admitted,Diagnosis,Travel/Trekking Agency,Insurance Company,Total Amount (NPR),Paid By,Remarks
0,1,411,JIE FENG,2015/02/21,2015-02-21,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS WITH HIGH ALTITUDE CER...,NaN,NaN,28284.931080,Self,NaN
2,3,412,ARTHUR LASTMANN,2015/03/03,2015-02-21,NaN,0,N,LEFT KNEE LEFT KNEE MENISCUS INJURY\r\nLOC...,,AGA SERVICES (INDIA) PVT. LTD.,62926.283564,Insurance,
0,1,420,VIVIANE GUILLOUX,2015/02/27,2015-02-23,NaN,0,N,ACUTE MOUNTAIN SICKNESS,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",33616.557202,Insurance,
1,2,421,SERGE GUILLOUX,2015/02/27,2015-02-23,NaN,0,N,ACUTE MOUNTAIN SICKNESS\r\nUPPER RESPIRATORY...,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",36031.756425,Insurance,
1,2,426,ANDREW GRAHAM,2015/02/24,2015-02-24,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,11483.010000,Self,NaN
2,3,450,IERA BERASATEGUI,2015/03/04,2015-03-04,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,9332.820000,Self,NaN
3,4,452,NIELS GOOSSENS,2015/03/04,2015-03-04,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,19702.629876,Self,NaN
6,7,489,CRYSTAL HUI JING ONG,2015/04/08,2015-03-17,NaN,0,N,ACUTE MOUNTAIN SICKNESS. HEADACHE UNDER EVAL...,,"AIG TRAVEL ASIA PACIFIC PTE LTD, SINGAPORE",34444.680400,Insurance,
5,6,539,NATHAN MCNALLY,2015/04/08,2015-03-30,NaN,0,N,? LT ANKLE SPRAIN.,,"AGA SERVICES (INDIA) PVT. LTD., INDIA",23276.059318,Insurance,
4,5,627,YAFIT SHACHAR ZIV NAVE,2015/04/14,2015-04-14,NaT,NaN,NaN,"ACUTE MOUNTAIN SICKNESS,UPPER RESPIRATORY TRAC...",SWISSA,NaN,26232.293340,Self,NaN
5,6,664,JAMES MCELROY,2015/04/25,2015-04-24,2015-04-25 00:00:00,1 day,Yes,ACUTE MOUNTAIN SICKNESS.\nHIGH ALTITUDE CEREBR...,EARTH BOUND EXPEDITION,NaN,121252.000740,Self,NaN
7,8,1001,EMILY MARSON,2015/12/17,2015-09-12,10/12/2015,0,Y,- CUT INJURY BELOW LEFT LATERAL MA...,,ALPINE RESCUE SERVICE PVT. LTD.,150071.355823,Insurance,
6,7,808,AMIR WIENER,2015-09-23 00:00:00,2015-09-22,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,SWISSA,NaN,34089.961500,Self,NaN
7,8,874,HOMAR MAXIMILIANO HERNANDEZ,2015/10/17,2015-10-16,2015-10-17 00:00:00,1 day,Yes,ACUTE MOUNTAIN SICKNESS.\nACUTE BACTERIAL DIA...,Flight Connection,NaN,103441.163069,Self,NaN
8,9,903,TIMOTHY SOUTHWOOD,2015/10/25,2015-10-25,NaT,NaN,NaN,VASOVAGAL ATTACK.,NaN,NaN,33817.528356,Self,NaN
9,10,924,JAVIER TORRES,2015/11/09,2015-10-30,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS-IMPROVING.,GREAT VISION TREK EXPEDITION,Local Agent,13219.920000,Local Agent,NaN
3,4,335,HUMZA ARAIN,2015/03/03,2015-11-01,NaN,0,N,ACUTE BACTERIAL DIARRHOEA WITH MILD DEHYDRAT...,KRITI TOURS,ALPINE RESCUE SERVICES PVT. LTD.,36708.100784,Insurance,
4,5,472,LUCY CORRIGAN,2015/03/13,2015-11-03,NaN,0,N,ACUTE PHARYNGITIS.\r\nLITTLE ACUTE MOUNTAIN S...,HIMALAYAN ENCOUNTER,"ALPINE RESCUE SERVICE PVT. LTD., NEPAL",35935.683420,Insurance,

In [95]:
all2015.columns = ["सि.न", "पर्यटकको नाम", "नाम", "Bill Date" , "भर्ना/OPD मिती", "डिस्चार्ज मिती", "Length of Stay", "Admitted", "उपचारको कारण", "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी", "बीमा कम्पनी", "उपचार रकम", "Paid By", "कैफियत"]

In [96]:
index2015_pkr = all2015[["पर्यटकको नाम","नाम"]]

In [97]:
all2015["सि.न"] = range(1, len(all2015) + 1)

In [98]:
all2015

,सि.न,पर्यटकको नाम,नाम,Bill Date,भर्ना/OPD मिती,डिस्चार्ज मिती,Length of Stay,Admitted,उपचारको कारण,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,बीमा कम्पनी,उपचार रकम,Paid By,कैफियत
0,1,420,VIVIANE GUILLOUX,2015/02/27,2015-02-23,NaN,0,N,ACUTE MOUNTAIN SICKNESS,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",33616.557202,Insurance,
1,2,421,SERGE GUILLOUX,2015/02/27,2015-02-23,NaN,0,N,ACUTE MOUNTAIN SICKNESS\r\nUPPER RESPIRATORY...,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",36031.756425,Insurance,
2,3,412,ARTHUR LASTMANN,2015/03/03,2015-02-21,NaN,0,N,LEFT KNEE LEFT KNEE MENISCUS INJURY\r\nLOC...,,AGA SERVICES (INDIA) PVT. LTD.,62926.283564,Insurance,
3,4,335,HUMZA ARAIN,2015/03/03,2015-11-01,NaN,0,N,ACUTE BACTERIAL DIARRHOEA WITH MILD DEHYDRAT...,KRITI TOURS,ALPINE RESCUE SERVICES PVT. LTD.,36708.100784,Insurance,
4,5,472,LUCY CORRIGAN,2015/03/13,2015-11-03,NaN,0,N,ACUTE PHARYNGITIS.\r\nLITTLE ACUTE MOUNTAIN S...,HIMALAYAN ENCOUNTER,"ALPINE RESCUE SERVICE PVT. LTD., NEPAL",35935.683420,Insurance,
5,6,539,NATHAN MCNALLY,2015/04/08,2015-03-30,NaN,0,N,? LT ANKLE SPRAIN.,,"AGA SERVICES (INDIA) PVT. LTD., INDIA",23276.059318,Insurance,
6,7,489,CRYSTAL HUI JING ONG,2015/04/08,2015-03-17,NaN,0,N,ACUTE MOUNTAIN SICKNESS. HEADACHE UNDER EVAL...,,"AIG TRAVEL ASIA PACIFIC PTE LTD, SINGAPORE",34444.680400,Insurance,
7,8,1001,EMILY MARSON,2015/12/17,2015-09-12,10/12/2015,0,Y,- CUT INJURY BELOW LEFT LATERAL MA...,,ALPINE RESCUE SERVICE PVT. LTD.,150071.355823,Insurance,
0,9,411,JIE FENG,2015/02/21,2015-02-21,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS WITH HIGH ALTITUDE CER...,NaN,NaN,28284.931080,Self,NaN
1,10,426,ANDREW GRAHAM,2015/02/24,2015-02-24,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,11483.010000,Self,NaN
2,11,450,IERA BERASATEGUI,2015/03/04,2015-03-04,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,9332.820000,Self,NaN
3,12,452,NIELS GOOSSENS,2015/03/04,2015-03-04,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,19702.629876,Self,NaN
4,13,627,YAFIT SHACHAR ZIV NAVE,2015/04/14,2015-04-14,NaT,NaN,NaN,"ACUTE MOUNTAIN SICKNESS,UPPER RESPIRATORY TRAC...",SWISSA,NaN,26232.293340,Self,NaN
5,14,664,JAMES MCELROY,2015/04/25,2015-04-24,2015-04-25 00:00:00,1 day,Yes,ACUTE MOUNTAIN SICKNESS.\nHIGH ALTITUDE CEREBR...,EARTH BOUND EXPEDITION,NaN,121252.000740,Self,NaN
6,15,808,AMIR WIENER,2015-09-23 00:00:00,2015-09-22,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,SWISSA,NaN,34089.961500,Self,NaN
7,16,874,HOMAR MAXIMILIANO HERNANDEZ,2015/10/17,2015-10-16,2015-10-17 00:00:00,1 day,Yes,ACUTE MOUNTAIN SICKNESS.\nACUTE BACTERIAL DIA...,Flight Connection,NaN,103441.163069,Self,NaN
8,17,903,TIMOTHY SOUTHWOOD,2015/10/25,2015-10-25,NaT,NaN,NaN,VASOVAGAL ATTACK.,NaN,NaN,33817.528356,Self,NaN
9,18,924,JAVIER TORRES,2015/11/09,2015-10-30,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS-IMPROVING.,GREAT VISION TREK EXPEDITION,Local Agent,13219.920000,Local Agent,NaN

In [102]:
all2015["Paid By"] = all2015["Paid By"].str.lower()
all2015["Paid By"] = all2015["Paid By"].str.strip()
ins = all2015["Paid By"] == "insurance"
all2015["बीमा दाबी रकम"] = all2015["उपचार रकम"][ins]

all2015["भर्ना/OPD मिती"] = pd.to_datetime(all2015["भर्ना/OPD मिती"])
all2015.sort_values(by=["भर्ना/OPD मिती"])

,सि.न,पर्यटकको नाम,नाम,Bill Date,भर्ना/OPD मिती,डिस्चार्ज मिती,Length of Stay,Admitted,उपचारको कारण,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,बीमा कम्पनी,उपचार रकम,Paid By,कैफियत,बीमा दाबी रकम
0,9,411,JIE FENG,2015/02/21,2015-02-21,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS WITH HIGH ALTITUDE CER...,NaN,NaN,28284.931080,self,NaN,33616.557202
2,3,412,ARTHUR LASTMANN,2015/03/03,2015-02-21,NaN,0,N,LEFT KNEE LEFT KNEE MENISCUS INJURY\r\nLOC...,,AGA SERVICES (INDIA) PVT. LTD.,62926.283564,insurance,,62926.283564
0,1,420,VIVIANE GUILLOUX,2015/02/27,2015-02-23,NaN,0,N,ACUTE MOUNTAIN SICKNESS,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",33616.557202,insurance,,33616.557202
1,2,421,SERGE GUILLOUX,2015/02/27,2015-02-23,NaN,0,N,ACUTE MOUNTAIN SICKNESS\r\nUPPER RESPIRATORY...,THAMSERKU,"INTER MUTUELLES ASSISTANCE, FRANCE",36031.756425,insurance,,36031.756425
1,10,426,ANDREW GRAHAM,2015/02/24,2015-02-24,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,11483.010000,self,NaN,36031.756425
2,11,450,IERA BERASATEGUI,2015/03/04,2015-03-04,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,9332.820000,self,NaN,62926.283564
3,12,452,NIELS GOOSSENS,2015/03/04,2015-03-04,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,NaN,NaN,19702.629876,self,NaN,36708.100784
6,7,489,CRYSTAL HUI JING ONG,2015/04/08,2015-03-17,NaN,0,N,ACUTE MOUNTAIN SICKNESS. HEADACHE UNDER EVAL...,,"AIG TRAVEL ASIA PACIFIC PTE LTD, SINGAPORE",34444.680400,insurance,,34444.680400
5,6,539,NATHAN MCNALLY,2015/04/08,2015-03-30,NaN,0,N,? LT ANKLE SPRAIN.,,"AGA SERVICES (INDIA) PVT. LTD., INDIA",23276.059318,insurance,,23276.059318
4,13,627,YAFIT SHACHAR ZIV NAVE,2015/04/14,2015-04-14,NaT,NaN,NaN,"ACUTE MOUNTAIN SICKNESS,UPPER RESPIRATORY TRAC...",SWISSA,NaN,26232.293340,self,NaN,35935.683420
5,14,664,JAMES MCELROY,2015/04/25,2015-04-24,2015-04-25 00:00:00,1 day,Yes,ACUTE MOUNTAIN SICKNESS.\nHIGH ALTITUDE CEREBR...,EARTH BOUND EXPEDITION,NaN,121252.000740,self,NaN,23276.059318
7,8,1001,EMILY MARSON,2015/12/17,2015-09-12,10/12/2015,0,Y,- CUT INJURY BELOW LEFT LATERAL MA...,,ALPINE RESCUE SERVICE PVT. LTD.,150071.355823,insurance,,150071.355823
6,15,808,AMIR WIENER,2015-09-23 00:00:00,2015-09-22,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS.,SWISSA,NaN,34089.961500,self,NaN,34444.680400
7,16,874,HOMAR MAXIMILIANO HERNANDEZ,2015/10/17,2015-10-16,2015-10-17 00:00:00,1 day,Yes,ACUTE MOUNTAIN SICKNESS.\nACUTE BACTERIAL DIA...,Flight Connection,NaN,103441.163069,self,NaN,150071.355823
8,17,903,TIMOTHY SOUTHWOOD,2015/10/25,2015-10-25,NaT,NaN,NaN,VASOVAGAL ATTACK.,NaN,NaN,33817.528356,self,NaN,NaN
9,18,924,JAVIER TORRES,2015/11/09,2015-10-30,NaT,NaN,NaN,ACUTE MOUNTAIN SICKNESS-IMPROVING.,GREAT VISION TREK EXPEDITION,Local Agent,13219.920000,local agent,NaN,NaN
3,4,335,HUMZA ARAIN,2015/03/03,2015-11-01,NaN,0,N,ACUTE BACTERIAL DIARRHOEA WITH MILD DEHYDRAT...,KRITI TOURS,ALPINE RESCUE SERVICES PVT. LTD.,36708.100784,insurance,,36708.100784
4,5,472,LUCY CORRIGAN,2015/03/13,2015-11-03,NaN,0,N,ACUTE PHARYNGITIS.\r\nLITTLE ACUTE MOUNTAIN S...,HIMALAYAN ENCOUNTER,"ALPINE RESCUE SERVICE PVT. LTD., NEPAL",35935.683420,insurance,,35935.683420

In [110]:
submit = all2015[["सि.न","पर्यटकको नाम", "भर्ना/OPD मिती", "डिस्चार्ज मिती", "उपचारको कारण", "उपचार रकम","बीमा दाबी रकम", "बीमा कम्पनी", "पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी", "कैफियत"]]
submit = submit.sort_values(by=['पर्यटकको नाम'])
submit["सि.न"] = range(1, len(submit) + 1)

In [111]:
submit.head()

,सि.न,पर्यटकको नाम,भर्ना/OPD मिती,डिस्चार्ज मिती,उपचारको कारण,उपचार रकम,बीमा दाबी रकम,बीमा कम्पनी,पर्यटक्लाई अस्प्ताल ल्याउने उद्दार कम्पनी,कैफियत
3,1,335,2015-11-01,NaN,ACUTE BACTERIAL DIARRHOEA WITH MILD DEHYDRAT...,36708.100784,36708.100784,ALPINE RESCUE SERVICES PVT. LTD.,KRITI TOURS,
0,2,411,2015-02-21,NaT,ACUTE MOUNTAIN SICKNESS WITH HIGH ALTITUDE CER...,28284.931080,33616.557202,NaN,NaN,NaN
2,3,412,2015-02-21,NaN,LEFT KNEE LEFT KNEE MENISCUS INJURY\r\nLOC...,62926.283564,62926.283564,AGA SERVICES (INDIA) PVT. LTD.,,
0,4,420,2015-02-23,NaN,ACUTE MOUNTAIN SICKNESS,33616.557202,33616.557202,"INTER MUTUELLES ASSISTANCE, FRANCE",THAMSERKU,
1,5,421,2015-02-23,NaN,ACUTE MOUNTAIN SICKNESS\r\nUPPER RESPIRATORY...,36031.756425,36031.756425,"INTER MUTUELLES ASSISTANCE, FRANCE",THAMSERKU,

In [115]:
submit.to_excel('2015_pokhara_cash_credit.xlsx', index=False)

In [116]:
index2015_pkr.to_excel('index_2015_pkr.xlsx', index=False)